<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/fragment-head :: head('Login')}"></head>

<body>

	<div th:replace="~{fragments/fragment-menu :: menu}"></div>

	<div th:replace="~{fragments/fragment-message :: message}"></div>

	<div class="main">

	 <fieldset class="form-group">
	 
	 <h5>PESQUISA DE USUÁRIOS</h5>

	 <form action="buscarPorNome">
		<div class="form-row">
    	<div class="form-group col-6"> 
		  <input type="text" class="form-control" placeholder="Digite o nome que deseja buscar." name="nomeBusca">
		</div>
		<div class="form-group col-4">
		  <input class="btn btn-secondary" type="submit" value="Buscar">
		</div>
		</div>
		</form>

		<h5 class="line-botton"></h5>
		
		<p class="mt-3">Digite o nome do usuário que deseja encontrar e clique em buscar, ou apenas clique em buscar para trazer todos os usuários.</p>

		<div class="mt-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">Masp</th>
					<th class="text-center" scope="col">Editar</th>
					<th class="text-center" scope="col">Permissões</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${usuario}">
					<th th:text="${u.id}" scope="row"></th>
					<td th:text="${u.nome}"></td>
					<td th:text="${u.masp}"></td>
					<td class="text-center py-1"><a class="icons" th:href="@{/atualizarUsuario(usuarioId = ${u.id})}"><i class="bi bi-pencil-square"></i></a></td>
					<td class="text-center py-1"><a class="icons" th:href="@{/autorizarUsuario(usuarioId = ${u.id})}"><i class="bi bi-card-list"></i></a></td>
				</tr>
			</tbody>
		</table>
		<span th:if="${usuario} == null">Nenhuma pesquisa no momento</span>
		</div>
	
	</fieldset>
	
	</div>

	<span th:replace="~{fragments/fragment-scripts :: scripts}"></span>

</body>
</html>