<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/fragment-head :: head('Cadastro de Estatísticas')}"></head>

<body>

	<div th:replace="~{fragments/fragment-menu :: menu}"></div>

	<div th:replace="~{fragments/fragment-message :: message}"></div>

	<div class="main">

	 <fieldset class="form-group">
	 
	 <h5>CADASTRO DE ESTATÍSTICAS</h5>

	<form action="salvarAtualizarEstatistica" id="formEstatistica" method="post" th:object="${estatistica}">
	
	<p>Deseja atualizar algum campo, se não basta clicar em voltar</p>
	
	<input type="hidden" th:field="*{id}">

		<div class="form-row pl-3">
			<div class="form-group row col-4">
				<label class="col-2 col-form-label">Mês </label>
				<div class="col-10"> 
					<select id="mes" name="mes" class="form-control" th:field="*{mes}">
						<option value="" selected disabled>Escolha...</option>
						<option value="JANEIRO">JANEIRO</option>
						<option value="FEVEREIRO">FEVEREIRO</option>
						<option value="MARÇO">MARÇO</option>
						<option value="ABRIL">ABRIL</option>
						<option value="MAIO">MAIO</option>
						<option value="JUNHO">JUNHO</option>
						<option value="JULHO">JULHO</option>
						<option value="AGOSTO">AGOSTO</option>
						<option value="SETEMBRO">SETEMBRO</option>
						<option value="OUTUBRO">OUTUBRO</option>
						<option value="NOVEMBRO">NOVEMBRO</option>
						<option value="DEZEMBRO">DEZEMBRO</option>
					</select>
				</div>
			</div>
			<div class="form-group row col-4">
		      	<label class="col-2 col-form-label">Ano </label>
		      	<div class="col-10"> 
				   	<select id="ano" name="ano" class="form-control" th:field="*{ano}">
			     		<option value="" selected disabled>Escolha...</option>
			 	    	<option value="2021">2021</option>
					    <option value="2022">2022</option>
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
			    	</select>
		    	</div>
		    </div> 
		</div>
		<div class="form-group row col-12">
			<label class="col-8 col-form-label">APFD (PCMG + ICV 11 OU TRAFICO DE DROGAS OU ORGANIZAÇÕES CRIMINOSAS OU SONEGAÇÃO FISCAL OU LAVAGEM DE DINHEIRO OU CORRUPÇÃO)</label> 
			<div class="col-2">
				<input type="text" class="form-control calc" id="apfd" name="apfd" th:field="*{apfd}"> 
			</div>
			<div class="col-2">
				<input type="text" class="form-control" id="apfdTotal" name="apfdTotal" th:field="*{apfdTotal}" readonly="readonly" placeholder="0.00"> 
			</div>
		</div>

		<div class="form-group row col-12">
			<label class="col-8 col-form-label">IP PORTARIA COM INDICIAMENTO</label> 
			<div class="col-2">
				<input type="text" class="form-control calc" id="ip" name="ip" th:field="*{ip}"> 
			</div>
			<div class="col-2">
				<input type="text" class="form-control" id="ipTotal" name="ipTotal" th:field="*{ipTotal}" readonly="readonly" placeholder="0.00"> 
			</div>
		</div>
		
		<div class="form-group row col-12">
			<label class="col-8 col-form-label">TCO</label> 
			<div class="col-2">
				<input type="text" class="form-control calc" id="tco" name="tco" th:field="*{tco}"> 
			</div>
			<div class="col-2">
				<input type="text" class="form-control" id="tcoTotal" name="tcoTotal" th:field="*{tcoTotal}" readonly="readonly" placeholder="0.00"> 
			</div> 
		</div>
		
		<h5 class="line-botton"></h5>
		
		<div class="form-row">
		<div class="form-group pt-3">
		<input class="btn btn-secondary ml-1" value="Atualizar" type="submit">
		<a class="btn btn-secondary ml-3" href="/relatorioEstatistica">Voltar</a>
		</div>
		</div>
		
	</form>
	
	</fieldset>
	
	</div>

	<span th:replace="~{fragments/fragment-scripts :: scripts}"></span>

</body>
</html>